body
{
    background: url('img/user.svg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover; 
    ;
}